HELP.md
target/
images/*
src/main/resources/templates/addForms/
src/main/java/com/portfolio/libraryweb/coder/
src/main/resources/css/
src/test/
src/dust/
.mvn/

src/main/resources/static/js/test.js
src/main/java/com/portfolio/libraryweb/exceptions/EventAbsenceException.java

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
