<!doctype html>
<html lang="en">
<head>
    <!-- Обязательные метатеги -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="icon" href="../static/icons/favicon.ico">
    <title>Add Book</title>
</head>
<body>
<div class="container">
    <div class="p-4 mt-4" style="border: #363030 solid 3px; border-radius: 15px">
        <h1>Добавление новой книги</h1>
        <form action="/books/add/" method="post" class="mt-5">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingAuthor" name="author" placeholder="И.И. Иванов">
                <label for="floatingAuthor">Автор</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingTitle" name="title" placeholder="Title">
                <label for="floatingTitle">Название книги</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingDate" name="dateOfWriting" placeholder="yyyy/MM/dd">
                <label for="floatingDate">Дата написания</label>
            </div>
            <div class="form-floating mb-3">
                <select class="form-select" id="floatingSelect" name="genre" aria-label="Floating label select example">
                    <option selected>Выберите жанр книги</option>
                    <option value="romance">Романтика</option>
                    <option value="detective">Детектив</option>
                    <option value="fantastic">Фантастика</option>
                    <option value="science">Наука</option>
                </select>
                <label for="floatingSelect">Жанр</label>
            </div>
            <div class="form-floating mb-3">
                <textarea class="form-control" placeholder="Напишите о чем эта книга" id="floatingPreface" name="preface"
                          style="height: 100px"></textarea>
                <label for="floatingPreface">Предисловие</label>
            </div>
            <div class="form-floating mb-3">
                <textarea class="form-control" placeholder="Напишите о чем эта книга" id="floatingText" name="text"
                          style="height: 300px"></textarea>
                <label for="floatingText">Текст</label>
            </div>
            <div class="d-grid gap-2 col-6 mx-auto">
                <button class="btn btn-success" type="submit">Сохранить</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>