.img-ladder {
    width: 100%;
}

.img_wrap {
    width: 200px;
    height: 250px;
    border: 0.5px solid gray;
}

.img_wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 0;
}

.wrap-circle {
    object-fit: cover;
}