<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Редактирование</title>
</head>

<body>
<main class="container mt-5">
    <div class="row">
        <h1 class="mb-4">Информация об аккаунте</h1>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body text-center">
                    <img th:src="@{/icons/books.jpg}"  alt="User Avatar" class="rounded-circle mb-3" width="150"
                         height="150"> <!--th:src="@{/icons/user-avatar.jpg}"--> <!--src="../static/icons/books.jpg"-->
                    <h3 class="card-title">Загрузить новый аватар</h3>
                    <form method="post" enctype="multipart/form-data"> <!--th:action="@{/upload_avatar}"-->
                        <div class="mb-3">
                            <input type="file" class="form-control" name="image" id="profilePhoto" accept="image/*"
                                   required>
                        </div>
                    </form>
                    <p class="text-muted mt-3">Выберите изображение размером до 2MB</p>
                </div>

            </div>
        </div>
        <div class="col-md-8">
            <div class="card mb-4">
                <div class="card-header">
                    <h4>Данные профиля</h4>
                </div>
                <div class="card-body">
                    <form class="form-floating" enctype="multipart/form-data" id="edit-profile-form">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingName" placeholder="Ivan" name="name" required>
                            <label for="floatingName">Имя</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingSurname" placeholder="Ivanov" name="surname" required>
                            <label for="floatingSurname">Фамилия</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="floatingEmail" placeholder="name@gmail.com" name="email" required>
                            <label for="floatingEmail">Эл. почта</label>
                        </div>
                        <div >
                            <input class="btn btn-success" type="submit" value="Сохранить">
                            <a class="btn btn-danger" href="#">Отмена</a>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz4fnFO9gybRig1YvvFv6ZIVTnAC5kYfcz69Kfy4IoPz74pUcFoc7f36iN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-t5JHPPt4IvdP5pdEDPpVQMNc9tcMddkXlW4DAK45HVqnhJc/O4+id/MhZiPzO8gZ"
        crossorigin="anonymous"></script>
<script th:src="@{/js/main.js}"></script>
</body>
</html>
</html>